<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="DbDefault" value="PortMan" />
	<add key="DbServer" value="ARTHUR" />
	<add key="DbUser" value="PortManASP" />
	<add key="DbPwd" value="odessa" />
  <add key="TemplateFile" value="template1.dotx"/>
  <add key="ContentFile" value="content.xml"/>
</appSettings>