<?xml version="1.0"?>
<configuration>
    <location path="index.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.web>
        <authorization>
            <deny users="?"/>
            <allow roles="ARTHUR\RepGenAdmins"/>
            <deny users="*"/>
        </authorization>
    </system.web>
</configuration>
